.AddCell {
  position: relative;
  opacity: 0.3;
  transition: opacity 0.3s 0.1s;
  width: 80%;
  margin: 0 10%;
}

.AddCell:hover {
  opacity: 1;
}

.Divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  border-bottom: 1px solid gray;
  width: 80%;
  left: 10%;
  right: 10%;
  z-index: -1;
}
.Buttons {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
}

.Button {
  margin: 0 5vw;
}
.ForceVisible {
  opacity: 1;
}
