.SaveStatusWrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(6vh + 0.7rem);
  width: 10%;
  text-align: center;
}

.SaveStatus {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
}

.SpinnerWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Spinner {
  display: inline-block;
  position: relative;
}
.Spinner:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: calc(2vh + 0.5rem) solid #ff00ff;
  border-color: #ff00ff transparent #00ffff transparent;
  animation: Spinner 1.2s infinite;
}
@keyframes Spinner {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
