html,
body,
#root,
.App {
  height: 100%;
}

.Blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  overflow-y: hidden;
}

.Logo {
  width: 20vw;
  height: auto;
  margin: 10px 2.5%;
}

@media screen and(max-width: 500px) {
  .Logo {
    width: 30vw;
    height: auto;
  }
}
