html,
body,
#root,
.App {
  height: 100%;
}

.Blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  overflow-y: hidden;
}

.Logo {
  width: 20%;
  height: 20%;
  margin: 10px 2.5%;
}
